*{
    /* outline: 1px solid red; */

}
html, body{
    height:100vh;
    

   

}
.navv{
    width: 100%;
   margin: auto;
   display: flex;
   justify-content: space-between;
   align-content: center;
   color: rgb(216, 215, 213);
   text-transform: uppercase;
   border-bottom: 1px solid white;
}


.big-box{
    width: 100%;

    display: flex;
    justify-content: space-between;
}
.container-one{
    width: 28%;
    
}
.jpt{
    width: 100%;
   margin-top: 40px;
   
    
    
    color: rgb(216, 215, 213) ;
    
    
}
.back2wines{
    width:100%;
    font-size: 15px;
    font-family:'Jost', sans-serif;
    letter-spacing: 5px;
    text-align: center;
}

.invisible-con{
    width: 100%;

    position: relative;
    
}
.inner-con{
    width: 100%;
    
    position: absolute;
    z-index: 1;
    
}
.image-container{
    width:40%;
    margin: auto;
   
  
}
.bigbottle{
    width: 100%;
  
}

.red-boxx{
    width:100% ;
    height: 15vh;
   background-color:rgb(145, 20, 50) ;
   position: absolute;
    top: 70px;
    z-index: -1;
}
.container-two{
    width: 40%; 
    display: flex;
    flex-direction: column;
   
}

.sections{
  
    border:none;
    border-top: 1px solid rgb(216, 215, 213);
      
    margin-bottom: 50px;

}
.mytitle{
    margin-top:30px ;
    border:none;
}
.sections-text{
    font-family:'Jost', sans-serif; 
 color: rgb(216, 215, 213);
 letter-spacing: 2px;
 font-size: small;
 font-weight: lighter;
 text-transform: uppercase;
  
}
.details{
    
    display: flex;
    justify-content: space-between;
    color:rgb(216, 215, 213) ;
    font-size: 12px;
   
}
.product-title{
   
    color:rgb(216, 215, 213);
    font-family :'Jost', sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: lighter;
   
}

.date{
    font-size: 18px;
}
.red-circles{
    display: flex;
}
.sub-sec{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}
.lst{
  display: flex;
  flex-direction: column;
  font-family: 'Jost', sans-serif;
  color:rgb(216, 215, 213) ;
}
.rc{
    width:10px;
    height: 10px;
    border:0.5px solid rgb(145, 20, 50);
    background-color: rgb(145, 20, 50);
    border-radius: 12px;
    margin:4px;
}
.rw{
    width:10px;
    height: 10px;
    border:0.5px solid rgb(216, 215, 213);
    border-radius: 12px;
    margin:4px;
}
.step{
    display: flex;
    flex-direction: column;
}
.section-text{
    
    color:rgb(216, 215, 213) ;
    text-transform: uppercase;
    font-family :'Montserrat', sans-serif;
    font-size: 12px;
    letter-spacing: 3px;
    font-weight: lighter;
}
.p-text{
    margin-top: 15px;
    color: rgb(216, 215, 213); 
    font-family:'Jost', sans-serif;


}
.container-three{
    width:28%;
    height: 360px;
  
    display: flex;
    justify-content: start;
    align-items: center;

    
}
.con-three{
    width: 50%;
    height: 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}
.basket{
    font-size: 30px;
    color:rgb(216, 215, 213)  ;
}
.price-tag{
    width: 60%;
    height: 90px;
    background-color: rgb(145, 20, 50); 
    display: flex;
    justify-content: center;
    align-items: center;
 



}
.pricee{
    color: rgb(216, 215, 213);
    font-size: 1em;
    

   

}

.last-box{
  
   
    display: flex;
    justify-content: space-between;
}
.intro{
    width: 7%;
  
    display: flex;
justify-content: center;
}

.introbox{
   width: 100%;
   

  margin: auto;
  color: rgb(216, 215, 213) ;
  font-family:'Jost', sans-serif;
}
.sub-intro{
    width: 80%;
   
    display: flex;
   
}
.next{
    margin: auto;

}
.lineee{
    width: 1%;
    height: 6vh;
    background-color: rgb(216, 215, 213);
    margin: auto;
    transform: rotate(270deg);
   
}

.nav-sign{
    width: 100%;
    
   
    
}
.smaiibox{   
    width: 2%;
    height: 8vh;
   
    margin: auto;
    display: flex;
}
.dott{
    width:5%;
    height: 0.5vh;
    margin: 5px;
    background-color: rgb(216, 215, 213);
    margin: auto;

}
.linee{
    width: 5%;
    height: 5vh;
    background-color: rgb(216, 215, 213);
    margin: auto;
}
.footnav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: rgb(216, 215, 213) ;
    font-family:'Jost', sans-serif;
}
@media screen and (max-width:700px){
    .menu, .list, .middle {
        display: none;
    }
    .back2wines

}