/* codes for shop page */
 /* *{
     outline: 1px solid red;
 } */
html, body{
    height: 100vh;
    margin: 0;
    padding: 0;
}
.mainn{
    
    width: 100%;
    background-color: rgb(43, 43, 51);

}

.navv{
    width: 95%;
   margin: auto;
   display: flex;
   justify-content: space-between;
   align-content: center;
   color: rgb(216, 215, 213);
   text-transform: uppercase;
   border-bottom: 1px solid white;
}
.menuu{
    width: 12%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 15px 0;
    font-size: 15px;
    letter-spacing: 4px;
    font-family: 'Comic Neue', cursive;
    font-weight: 0;
    
}
.two-box{
    width: 100%;
   background-color:transparent;
   
}
.min{
    width: 80%;
    display: flex;
    
    margin: auto;
    justify-content: space-between;
    padding: 25px;
}
.aside{
    width: 28%;
    
  
    
}
.central{
    
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 3px;
    color: rgb(216, 215, 213);


}
    
   
    
    

.sub1{
    display: flex;
    align-items: center;
    margin-top: 15px;
    font-size: 12px;
    
}
.btn{
    width: 28%;
    border: 2px solid white;
    margin: 5px;
    padding: 5px 0;
    text-align: center;
    color: rgb(216, 215, 213);
    font-size: 10px;

}
.spc{
    width: 28%;
    margin: 5px;
    padding: 5px 0;
    text-align: center;
    color: rgb(216, 215, 213);
    font-size: 10px;
    

    
}
.caps{
 width: 100%;
 text-transform: uppercase;
 letter-spacing: 2px;
 color: rgb(216, 215, 213);
 font-family: 'Montserrat', sans-serif;
 letter-spacing: 3px;
 font-size: 13px;
 font-weight: lighter;

}
.capss{
    margin:10px 0;
}
.sub2{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    color: rgb(216, 215, 213);
}
.input1{
    border-top: none;
    border-left: none;
    border-right: none ;
    border-bottom: 2px solid white;
    background-color: transparent;
   
}
.big-btn{
    width: 40%;
    background-color: rgb(145, 20, 50);
    color: whitesmoke;
    border: none;
    margin-top: 20px;
    height: 40px;
    text-align: center;
}
/* codes for main box */
.main-box{

 width: 70%;
background-color:transparent;

}


.capss{
   
 width: 30%;
 text-transform: uppercase;
 letter-spacing: 2px;
 color: rgb(216, 215, 213);
 font-family :'Montserrat', sans-serif;
 letter-spacing: 3px;
 font-size: 12px;
 font-weight: lighter;
}
.heeding{
    width: 100%; 
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.sub-head{
width: 30%;
text-transform: uppercase;
display: flex;
justify-content: space-between;
align-items: center;
letter-spacing: 2px;
font-family: 'Josefin Sans', sans-serif;
color: rgb(216, 215, 213);
font-weight: lighter;

}
.card-box{
    display: flex;
    justify-content: space-between;
  
}
.card{

    width: 23.3%;
    height:21.5rem;
    position: relative;
 
}
.pnk{
    
    width: 100%;
    height: 5rem;
    position: absolute;
    background-color: rgb(223, 144, 157);
    font-family:'Nanum Gothic', 'sans-serif';
    font-weight: bolder;
    font-size: 20px;
    font-style: italic;
    top:  100px;

}
.gry{
    width: 100%;
    height: 5rem;
    position: absolute;
    background-color: rgb(182, 162, 165);
    font-family:'Nanum Gothic', 'sans-serif';
    font-weight: bolder;
    font-size: 20px;
    font-style: italic;
    top:  100px;
  
}
.mid-color{
   width: 100%;
   height: 5rem;
   position: absolute;
 background-color: rgb(145, 20, 50);   
 position: absolute;

top:  100px;
/* top: 0; */
/* right: 0; */
/* bottom:0; */
/* left: 0; */


}
.price{
    width: 20%;
    margin: 30px 5px;
    text-align: center;
    color: rgb(216, 215, 213);
    
}
.photo{
    width: 100%;
    position: absolute;
    
}
.image-div{
    position: absolute;
    width: 30.3%;
    top: 0;
    left: 120px;
   right: 0;
    
    

}
img{
    width: 100%;
    
}
.boxes{
    margin: 20px;
}
.card-holder{
    width: 100%;
    display: flex;
    flex-direction: column;
   
}
.card-text{
    position: absolute;
    bottom: 50px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: rgb(216, 215, 213);
    font-family :'Montserrat', sans-serif;
    letter-spacing: 3px;
    font-weight: lighter;
    
}
.product-detail{
    width: 100%;
    color: rgb(216, 215, 213);
  
    
}
.product-wall{
    width: 50%;
    margin: 0.5rem;
}
.product-name{
    font-family: 'Comic Neue', cursive;
    font-weight: 500;
    font-size: 16px;
   text-transform: uppercase;
   margin: 0 0 5px 0;
   letter-spacing: 1px ;
}
.product-link{
    text-decoration: none;
    color: rgb(201, 199, 195);
}
.product-line{
    width: 20%;
    height: 0.2vh;
    background-color: whitesmoke;
}
.p-spc{
    margin-bottom: 7px;
    
    
   
}
hr{
 width: 30%;  
 position: absolute;
 bottom: 50px;
 text-align: left;
   
}
.txt{
    display: flex;
    position: absolute;
    bottom: 0;
    color: rgb(216, 215, 213);
    text-transform: capitalize;
    
   
}

.spcc{
    width: 28%;
    height: 1.5rem;
    margin:5px;
    padding: 5px 0;
    text-align: center;
    color: rgb(216, 215, 213);
    font-family: 'Neuton', serif;
}


/* wine cards */

.wine-card {
    position: relative;
    width: 184px;
    height: 229px;
    display: flex;
    align-items: center;
    margin: 0.5rem;
}

.wine-card .heart {
    position: absolute;
    top: 0;
    left: 0;
}

.wine-card .card-background{
    height: 80px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(145, 20, 50);
}

.wine-card .card-background .price{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    font-family:'Nanum Gothic', 'sans-serif';
    font-weight: bolder;
    font-size: 20px;
    font-style: italic;
  
}

.wine-card .image {
    z-index: 2;
    position: absolute;
    right: 20px;
}

.wine-card .image img{
    width: 60px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
}

@media only screen and (min-width:699px) and (max-width: 1920px) {
    .mobileheading{
        display: none;
    }   
   }

@media only screen and (max-width: 700px) {
    .aside, .sub-head, h3{
        display: none;
    }
    .central{
       
        margin: auto;
    }
    .mobileheading{
        display: flex;
        justify-content: space-evenly;
        color: rgb(216, 215, 213);
        font-family: 'Josefin Sans', sans-serif;

    }
}