*{ 
/* outline: 1px solid red; */
   margin: 0;
    
}
a{
    text-decoration: none;
color: white;
}

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
}


.main{
    height: 100vh;
    background-image: linear-gradient(rgba(95, 93, 88, 0.137), rgba(110, 95, 95, 0.068)),url(../img/two.jpg);
    background-size: cover;
    background-color: gray;
    animation: slide 8s infinite;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
}

.mobile-menu{
    display: none;
}

.mobile-menu-icon {
    color: white;
}

.mobile-menu-icon ion-icon {
    color: white;
    --ionicon-stroke-width: 16px;
    --ionicon-stroke: #fff;
  }

.middle{
    width: 100%;
    position: relative;
}
.list{
    display: flex;
    justify-content: center;
}
.list li {
    margin: 0 5px;

}
.nav{
  width: 100%;
  z-index: 2;
   display: flex;
   justify-content: space-between;
   align-items: center;
   color: white;
   text-transform: uppercase;
}

.list-div{
    border-bottom: 1px solid white;
}

ul, .fnl,li{
    margin: auto;
    display: flex;
    
    align-items: center;
    text-align: center;
    font-family: 'Nanum Gothic', sans-serif;
    letter-spacing: 3px;
    font-weight: bold;
    list-style: none;
    color: white;
    text-decoration: none;
  
}

.logo{
    /* margin: 2rem 0; */
    letter-spacing: 5px;
    font-family: 'Josefin Sans', sans-serif;

}
.menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  
    font-size: 15px;
    letter-spacing: 4px;
    font-family: 'Comic Neue', cursive;
    font-weight: 0;
    
}
.middle{
    width: 100%;
    color: rgb(216, 215, 213);
  display: flex;
  justify-content:space-between ;

 
}
.slide-container{
    position: relative;    
    
}
.slide-pos{
    width: 100%;
    /* position: absolute; */
  
}
.active{position: relative;
   top: 50%;

    transform: translate(-50%);
    animation: animateslide 2s linear infinite;
}
@keyframes animateslide{
    0%{
        top:0%;
        left:0%;

    }
   
    25%{
        top:0;
        left:50%;
       
        
    }
}

.smel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 4;
   
  
   
}

.smell{
  
   transform: rotate(270deg);
   
}
.slidedot{

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 70px;
  


}
.shortline{
    width: 1px;
    height: 20px;
    background-color: white; 
  
}
.dot{
    width: 4px;
    height:4px;
    background-color: white;
    margin: 0 16px;
}

.foot .slide-container {
    display: none;
}

.dot_active {
    width: 15px;
    height: 4px;
    background-color: white;
    margin: 0 16px;
}

.wine_position {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

}
a:hover{
  color: yellow;

}

@media screen and (max-width:700px){
    .wine_position, .menu, .list, .middle, .cu {
        display: none;
    }

    .mobile-menu{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
    }

    .foot {
        flex-direction: column-reverse;
        height: 100%;
      
    }

    .foot .slide-container {
        display: block;
    }
}



.mid_text{
    /* width: 60%; */
    line-height: 0.8;
    margin: 0;
}
.wine{
    color: lightblue;
    font-size: 14em;
    text-transform: uppercase;
}
.need{
    color:white;
    font-size: 1.7em;
    font-family: 'Caudex', serif;
    font-weight: lighter;
}
.and{
    /* position: absolute; */
    top: 444px;
    left: 129px;
    transform: rotate(270deg);
    color: white;
    font-size: 30px;
    font-family: 'Caudex', serif;
    font-weight: lighter;
}

.foot{
    width: 100%;
    height: 18%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(216, 215, 213);
    font-family: 'Josefin Sans', sans-serif;
}
.slide-pos{
    display: flex;
    align-items: center;
    margin: 0;
}

.slide-container {
    display: flex;
    flex-direction: column;
    transform: rotate(270deg);
}


.cw{
  border: 1px solid white;
  font-size: larger;
  padding: 0.7rem;
    color: white;

}

.exploremore{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 5;
    margin: -15px 0;
}
 
.line{
    width: 1px;
    height: 80px;
    background-color: white;

}
.em{
    transform: rotate(270deg);
}
.ln{
    text-decoration: none;
    color: white;
}

.up{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 2;
    margin: -18px 0;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
}

/* explore more page */
.main2{
    height: 100vh;
    background-image: url(../img/grape.jpg);
    background-size: cover;
    background-color: gray;
  
}
.con{
  width: 38%;
  height: 80vh;
    background-color: #2b2b33;
   display: flex;
   justify-content:space-around;
   align-items: center;
}
.grape-content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
   
    margin: 1rem;
}
.secone{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}
.midle{
 width: 100%;
  display: flex;
  justify-content: space-between;
 
}
.slide-containerr{
    display: flex;
    flex-direction: column;
    transform: rotate(270deg);
    justify-content: space-between;
}
.love-with-grape {
    width: 40%;
    color: rgb(216, 215, 213);
  
}
.filwg {
    /* width: 40%; */
    margin: 1rem;
}

.slide-poss{
    display: flex;
    align-items: center;
    margin: 6px;
}
.shortlinnee{
     width: 10%;
     height: 0.2vh;
     background-color: white;
     margin: 0.5rem;
}

.foott{
    width: 100%;
    display: flex;
    justify-content:space-between ;

    align-items: center;
    color: rgb(216, 215, 213);
    font-family: 'Josefin Sans', sans-serif;

}

.fot{
    color: rgb(243, 219, 219);

}
.a{
    margin: 20px;
}
    /* transform: rotate(270deg); */




/* .explore-inner{
    display: flex;
    justify-content: center;
    align-items: center;
transform: rotate(270deg);
position: absolute;
bottom: 95px;
width: 14%;
right: 600px;

} */


.w{
    background-color: transparent;
    height: 5vh;
    border: 5px solid black;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 750px;
    right: 20px;
}
 @keyframes slide{
  20%{ background-image: linear-gradient(rgba(95, 93, 88, 0.137), rgba(110, 95, 95, 0.068)),url(../img/one.jpg);}
  50%{ background-image: linear-gradient(rgba(95, 93, 88, 0.137), rgba(110, 95, 95, 0.068)),url(../img/three.jpg);}
  80%{ background-image: linear-gradient(rgba(95, 93, 88, 0.137), rgba(110, 95, 95, 0.068)),url(../img/four.jpg);}
}


/* codes for product page */

.pp{
    color: rgb(216, 215, 213);
    text-decoration: none;
    
}
.mid-color{
    width: 20%;
    height: 5rem;
    background-color: rgb(145, 20, 50);
    position: absolute;
    top: 110px;
}
.side{
    margin-top: 30px;
}


.asidee{
   
    width: 25%;
    margin-top: 30px;
    background-color: transparent;
    position: relative;

}
.second-box{
    width: 100%;
    height: 100vh;
    background-color: yellowgreen;
}
.red-box{
    width: 100%;
    height: 120px;
    background-color: rgb(145, 20, 50);
    margin-top: 70px;
    position: absolute;
    top: 80px;
    
}

.resize-image-box{
    width: 60%;
    position: absolute;
    top: 100px;
    left: 50px;
      
}
.resized-image{
    width: 100%;
}
.card-textt{
    
    text-transform: uppercase;
    letter-spacing: 1px;
    color: rgb(216, 215, 213);
    font-family :'Montserrat', sans-serif;
    font-size: 22px;
    letter-spacing: 3px;
    font-weight: lighter;
    margin: 10px 0 0 50px;
    
}
.txtt{
    display: flex;
    color: rgb(216, 215, 213);
    text-transform: capitalize;
    font-size: 15px;
    width: 55%;
    justify-content: space-between;
   
}
.box{
    width: 60%;
    margin: 30px 0 0 50px;

}
.title{
color:rgb(216, 215, 213) ;
text-transform: uppercase;
font-family :'Montserrat', sans-serif;
font-size: 12px;
letter-spacing: 3px;
font-weight: lighter;
}

.ppline{
    width: 40%;
}
.boxone{
    border-top: 1px solid rgb(216, 215, 213);
    border-bottom: none;
    border-left: none;
    border-right: none;
    width: 100%;
    color: rgb(216, 215, 213);
    font-family :'Montserrat', sans-serif;
    font-size: 12px;
    margin-top: 10px;
    
}
.margen{
    margin: 30px 0;
}
.boxis{
    width: 80%;
    margin: auto;

}
.footer{
    width: 100%;
    height: 9vh;
   border-top: 2px solid white;
   border-bottom: none;
    border-left: none;
    border-right: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
p{
    color:rgb(216, 215, 213);
    font-family :'Montserrat', sans-serif;
    font-size: 15px;

}
.up{
    display: flex;
    flex-direction: column;
    color: rgb(216, 215, 213) ;
    justify-self: center;
    align-items: center;
}


/* On smaller screens, decrease text size */
@media only screen and (max-width: 700px) {
    .text {font-size: 11px;}
    .foot {height: 80%;}
  }
