*{ 
    /* outline: 1px solid red; */
   margin: 0;
    
}


html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.main{
    height: 100vh;
    background-image: linear-gradient(rgba(95, 93, 88, 0.137), rgba(110, 95, 95, 0.068)),url(../img/two.jpg);
    background-size: cover;
    background-color: gray;
    animation: slide 8s infinite;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
}

.mobile-menu{
    display: none;
}

.mobile-menu-icon {
    color: white;
}

.mobile-menu-icon ion-icon {
    color: white;
    --ionicon-stroke-width: 16px;
    --ionicon-stroke: #fff;
  }

.middle{
    width: 100%;
    position: relative;
}
.list{
    display: flex;
    justify-content: center;
}
.list li {
    margin: 0 5px
}
.nav{
  width: 100%;
  z-index: 2;
   display: flex;
   justify-content: space-between;
   align-items: center;
   color: white;
   text-transform: uppercase;
}



ul, .fnl,li{
    margin: auto;
    display: flex;
    
    align-items: center;
    text-align: center;
    font-family: 'Nanum Gothic', sans-serif;
    letter-spacing: 3px;
    font-weight: bold;
    list-style: none;
    color: white;
    text-decoration: none;
  
}

.logo{
    /* margin: 2rem 0; */
    letter-spacing: 5px;
    font-family: 'Josefin Sans', sans-serif;

}
.menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  
    font-size: 15px;
    letter-spacing: 4px;
    font-family: 'Comic Neue', cursive;
    font-weight: 0;
    
}
.middle{
    width: 100%;
    color: rgb(216, 215, 213);
  display: flex;
  justify-content:space-between ;
 
}

.smel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 4;
   
  
   
}

.smell{
  
   transform: rotate(270deg);
   
}
.slidedot{

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 70px;
  


}
.shortline{
    width: 1px;
    height: 20px;
    background-color: white; 
  
}
.dot{
    width: 4px;
    height:4px;
    background-color: white;
    margin: 0 16px;
}

.foot .slide-container {
    display: none;
}

.dot_active {
    width: 15px;
}

.wine_position {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

}
@media screen and (max-width:700px){
    .wine_position, .menu, .list, .middle, .cu {
        display: none;
    }

    .mobile-menu{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
    }

    .foot {
        flex-direction: column-reverse;
        height: 70%;
    }

    .foot .slide-container {
        display: block;
    }
}



.mid_text{
    /* width: 60%; */
    line-height: 0.8;
    margin: 0;
}
.wine{
    color: lightblue;
    font-size: 14em;
    text-transform: uppercase;
}
.need{
    color:white;
    font-size: 1.7em;
    font-family: 'Caudex', serif;
    font-weight: lighter;
}
.and{
    position: absolute;
    bottom: 35px;
    transform: rotate(270deg);
    color: white;
    font-size: 30px;
    font-family: 'Caudex', serif;
    font-weight: lighter;
}

.foot{
    width: 100%;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(216, 215, 213);
    font-family: 'Josefin Sans', sans-serif;
}
.slide-pos{
    display: flex;
    align-items: center;
    margin: 0;
}

.slide-container {
    display: flex;
    flex-direction: column;
    transform: rotate(270deg);
}


.cw{
  border: 1px solid white;
  font-size: larger;
  padding: 0.7rem;
}

.exploremore{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 5;
}
 
.line{
    width: 1px;
    height: 80px;
    background-color: white;

}
.em{
    transform: rotate(270deg);
}


    /* transform: rotate(270deg); */






/* .explore-inner{
    display: flex;
    justify-content: center;
    align-items: center;
transform: rotate(270deg);
position: absolute;
bottom: 95px;
width: 14%;
right: 600px;

} */

.w{
    background-color: transparent;
    height: 5vh;
    border-color: 5px solid black;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 750px;
    right: 20px;
    

}@keyframes slide{
  20%{ background-image: linear-gradient(rgba(95, 93, 88, 0.137), rgba(110, 95, 95, 0.068)),url(../img/one.jpg);}
  50%{ background-image: linear-gradient(rgba(95, 93, 88, 0.137), rgba(110, 95, 95, 0.068)),url(../img/three.jpg);}
  80%{ background-image: linear-gradient(rgba(95, 93, 88, 0.137), rgba(110, 95, 95, 0.068)),url(../img/four.jpg);}
}
/* codes for shop page */
.mainn{
    width: 100%;
    background-color: rgb(43, 43, 51);

}
.navv{
    width: 100%;
   margin: auto;
   display: flex;
   justify-content: space-between;
   align-content: center;
   color: rgb(216, 215, 213);
   text-transform: uppercase;
   border-bottom: 1px solid white;
}
.menuu{
    width: 12%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 15px 0;
    font-size: 15px;
    letter-spacing: 4px;
    font-family: 'Comic Neue', cursive;
    font-weight: 0;
    
}
.two-box{
    width: 100%;
   background-color:transparent;
   display: flex;
}
.aside{
    width: 25%;
    margin-top: 30px;
    background-color: transparent;
    
}
.central{
    width: 85%;
    margin-top: 30px;
    background-color: transparent;
    margin: auto;
    
}
.sub1{
    display: flex;
    align-items: center;
    margin-top: 15px;
    font-size: 12px;
    
}
.btn{
    width: 28%;
    height: 1.2rem;
    border: 2px solid white;
    margin:12px ;
    padding: 5px 0;
    text-align: center;
    color: rgb(216, 215, 213);

}
.spc{
    width: 28%;
    height: 1.5rem;
    margin: 5px;
    padding: 5px 0;
    text-align: center;
    color: rgb(216, 215, 213);
    

    
}
.caps{
 width: 100%;
 text-transform: uppercase;
 margin-top: 15px;
 margin-bottom:5px;
 letter-spacing: 2px;
 color: rgb(216, 215, 213);
 font-family: 'Montserrat', sans-serif;
 letter-spacing: 3px;
 font-weight: lighter;
 margin-left: 5px;

}
.sub2{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    color: rgb(216, 215, 213);
}
.input1{
    border-top: none;
    border-left: none;
    border-right: none ;
    border-bottom: 2px solid white;
    background-color: transparent;
   
}
.big-btn{
    width: 40%;
    background-color: rgb(145, 20, 50);
    color: whitesmoke;
    border: none;
    margin-left: 20px;
    margin-top: 40px;
    height: 40px;
    text-align: center;
}
/* codes for main box */
.main-box{

 width: 70%;
background-color:transparent;
margin-top: 30px;
}

.capss{
    margin-left: 70px;
    width: 30%;
 text-transform: uppercase;
 margin-top: 15px;
 margin-bottom:5px;
 letter-spacing: 2px;
 color: rgb(216, 215, 213);
 font-family :'Montserrat', sans-serif;
 letter-spacing: 3px;
 font-weight: lighter;
}
.heading{
    display: flex;
    justify-content: space-between;
    
  

}
.sub-head{
width: 35%;
text-transform: uppercase;
display: flex;
align-items: center;
}
.card-box{
    display: flex;
    justify-content: space-evenly;
}
.card{

    width: 23.3%;
    height:21.5rem;
    position: relative;
 
}
.mid-color{
   width: 100%;
   height: 5rem;
 background-color: rgb(145, 20, 50);   
 position: absolute;

top: 0;
right: 0;
bottom: 0;
left: 0;


}
.price{
    width: 20%;
    margin: 30px 5px;
    text-align: center;
    color: rgb(216, 215, 213);
    
}
.photo{
    width: 100%;
    
    position: absolute;
    
}
.image-div{
    position: absolute;
    width: 55%;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    
    

}
.card-text{
    position: absolute;
    bottom: 50px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: rgb(216, 215, 213);
    font-family :'Montserrat', sans-serif;
    letter-spacing: 3px;
    font-weight: lighter;
    
}
.p-spc{
    margin-bottom: 7px;
    
    
   
}
hr{
 width: 30%;  
 position: absolute;
 bottom: 50px;
 text-align: left;
   
}
.txt{
    display: flex;
    position: absolute;
    bottom: 0;
    color: rgb(216, 215, 213);
    text-transform: capitalize;
    
   
}

.spcc{
    width: 28%;
    height: 1.5rem;
    margin:5px;
    padding: 5px 0;
    text-align: center;
    color: rgb(216, 215, 213);
    font-family: 'Neuton', serif;
}
/* codes for product page */

.pp{
    color: rgb(216, 215, 213);
    text-decoration: none;
    
}
.mid-colorr{
    width: 20%;
    height: 5rem;
  background-color: rgb(145, 20, 50);   
  position: absolute;
   top: 110px;
}
.side{
    margin-top: 30px;
}


.asidee{
   
    width: 25%;
    margin-top: 30px;
    background-color: transparent;
    position: relative;

}
.red-box{
    width: 100%;
    height: 120px;
    background-color: rgb(145, 20, 50);
    margin-top: 70px;
    position: absolute;
    top: 80px;
    
}

.resize-image-box{
    width: 60%;
    position: absolute;
    top: 100px;
    left: 50px;
      
}
.resized-image{
    width: 100%;
}
.card-textt{
    
    text-transform: uppercase;
    letter-spacing: 1px;
    color: rgb(216, 215, 213);
    font-family :'Montserrat', sans-serif;
    font-size: 22px;
    letter-spacing: 3px;
    font-weight: lighter;
    margin: 10px 0 0 50px;
    
}
.txtt{
    display: flex;
    color: rgb(216, 215, 213);
    text-transform: capitalize;
    font-size: 15px;
    width: 55%;
    justify-content: space-between;
   
}
.box{
    width: 60%;
    margin: 30px 0 0 50px;

}
.title{
color:rgb(216, 215, 213) ;
text-transform: uppercase;
font-family :'Montserrat', sans-serif;
font-size: 12px;
letter-spacing: 3px;
font-weight: lighter;
}

.ppline{
    width: 40%;
}
.boxone{
    border-top: 1px solid rgb(216, 215, 213);
    border-bottom: none;
    border-left: none;
    border-right: none;
    width: 100%;
    color: rgb(216, 215, 213);
    font-family :'Montserrat', sans-serif;
    font-size: 12px;
    margin-top: 10px;
    
}
.margen{
    margin: 30px 0;
}
.boxis{
    width: 80%;
    margin: auto;

}
.footer{
    width: 100%;
    height: 9vh;
   border-top: 2px solid white;
   border-bottom: none;
    border-left: none;
    border-right: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
p{
    color:rgb(216, 215, 213);
    font-family :'Montserrat', sans-serif;
    font-size: 15px;

}
.up{
    display: flex;
    flex-direction: column;
    color: rgb(216, 215, 213) ;
    justify-self: center;
    align-items: center;
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .text {font-size: 11px}
    
  }
